<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>TheVStore | About Us</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top bg-light">
      <p class="navbar-brand">TheVStore</p>
      <button
        class="navbar-toggler custom-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/homepage">Home </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Welcome <i class="fas fa-user-circle"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile">Profile</a>
              <a class="dropdown-item" href="/buylog">Orders</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sellproduct">Sell </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cart" href="/cart"
              ><i class="fas fa-shopping-cart"></i> Cart</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1>The Vstore.</h1>
      <p>
        Our website offers buying and selling of used books, notes, electronic
        devices and other goods that are required in an academic year. These
        goods will be mostly sold by the seniors to the juniors who will be
        needing it for their studies. The control of the website will be with
        the administrator (Admin). The administrator entity will have attributes
        like user ID, name and password. Admin will have permissions to
        control/edit the database like removing any existing user or products.
        The user willing to sell/buy products will register on the website with
        his/her name, username, contact number, email, preferred location/region
        of buying/selling, year of study/branch and any other additional
        information which he/she would like to provide. This information will be
        recorded by us. The registered user can then access the facilities
        provided. All products will have common attributes like product ID,
        name, period of usage, condition, any comments, asking price, images and
        type. The type of the product will determine the addition attributes
        relating to the product. The type of the product will be from books,
        notes, electronic devices, clothing, others. The books specified will
        require the user to provide information like author, publication,
        edition, subject along with the common product attributes specified
        earlier. Notes will have values like the subject, topic,
        professor/lecturer who’s notes they are and the academic year.
        Electronic devices will require the type of device and description. The
        type of device could be either calculators or computers. Calculators
        will need the model, brand and features to be specified. Computers on
        the other hand will require information like operating system, brand,
        processor, RAM, storage. The product of type clothing needs additional
        information like size, colour and type. The others product category will
        include any product that doesn’t fit into the categories of products
        described. It will require the category name that the user finds
        appropriate for the product and the description relevant and necessary
        concerning the product. The registered user wanting to sell an item is
        required to provide the information of the product as mentioned above.
        The user who wants to buy any product will open the website. Some
        attributes from the common product attributes will be shown on the
        website when a user goes through the list of products. They can then
        choose any product that fits their requirements. On choosing a product,
        the information provided by the seller will be shown to the buyer. If
        he/she is interested in the product then they can select the buy option.
        The buyer, if is a registered user then is directly provided with the
        seller’s contact information and if not is asked to register. The buyer
        can then contact the seller and arrange a meet to finalize the deal. The
        buyer can also search directly for the product by the name (name of a
        book of instance) and will be provided with the products matching the
        query. They can also select the category of products as mentioned i.e.
        from books, notes, electronic devices, clothing or others. Once the deal
        is finalized and successful the dealer is required to update his/her
        account indicating that the product has been sold and out of stock. This
        will be effected in the database where the product will be removed and
        no longer visible.
      </p>
    </div>
  </body>
</html>
