.navbar {
  height: 90px;
  padding: 0% 5%;
}
.navbar-brand {
  background-color: #0062e6;
  border-radius: 20px;
  font-size: 230%;
  padding: 5px;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
.cart {
  color: #0062e6;
}
.nav-item {
  font-size: 110%;
}
.custom-toggler.navbar-toggler {
  border-color: #0062e6;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 98, 238, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#main {
  margin: 110px 15% 2%;
}
.pict img {
  width: 100%;
  border-radius: 10px;
  margin: 0%;
  padding: 0%;
}
.product-info {
  border: 1px solid rgba(156, 151, 151, 0.979);
  border-width: 10%;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 6%;
}
.details{
  font-weight: 350;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  font-family: fantasy;
  width: 100%;
  background-color: #0062e6;
  color: white;
  padding-left: 20%;
  font-size: 150%;
}
.footer p{
  margin-bottom: 0rem;
}
@media (min-width: 991px) {
  .buy-button {
    margin: auto;
  }
}
@media (max-width: 991px) {
  .collapse {
    background-color: white;
    z-index: 1;
  }
  .buy-button {
    margin: 1% 1%;
  }
  .product-info {
    margin-bottom: 10%;
  }
}
@media (max-width: 768px) {
  .product-info,
  .pict {
    padding: 0%;
    margin: 0%;
  }
  .product-info {
    margin-bottom: 13%;
  }
  .pict img{
    border-radius: 10px 10px 0px 0px;
  }
  .content {
    margin: 3% 2% 2%;
  }
}
